@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Lato", sans-serif;   
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.content {
    width: 1000px;
    height: 700px;
    background-color: white;
    display: inherit;
    flex-direction: row;
    border-radius: 50px;
}

.left-content {
    width: 500px;
    flex-direction: column;
    display: inherit;
    justify-content: flex-start;
    align-items: center;
    background-color: #5e3ffc;
    border-radius: 50px;
}

.left-content h1 {
    font-weight: 500;
    width: fit-content;
    margin: 0px;
    color: #cecbff;
    margin: 50px 0px 50px 0px;
}

.score {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#4d22c9, #5e3ffc);
    border-radius: 50%;
    margin: 0px 0px 20px 0px;
}

.score h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin: 10px 0px 0px 0px;
    
}

.score h2 {
    color: #8a81f8;
    font-weight: 400;
    margin: 0px;
    font-size: 20px;
    text-shadow: none;
}

.left-content h3 {
    color: white;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
}

.left-content p {
    width: 400px;
    font-size: 28px;
    text-align: center;
    color: #c6c5ff;
    letter-spacing: 1px;
}

.right-content {
    width: 500px;
}

.right-content h1 {
    color: #3c415e;
    margin: 50px 0px 20px 50px;
    font-weight: 700;
}

.summaries {
    margin: 0px 0px 20px 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 420px;
}

.summary-card {
    width: 400px;
    height: 75px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-shadow: none;
}

.summary-card img {
    width: 25px;
    height: 25px;
    margin: 0px 20px 0px 20px;
}


.summary-card h1 {
    font-size: 24px;
    margin: 0px;
    width: 215px;
}

.num1 {
    color: #2c2f42;
}

.slash, .num2 {
    color: #9e98a6;
}

.slash {
    margin: 0px 5px 0px 5px;
}

#summary1 {
    background-color: #fff6f7;
}

#summary1 h1 {
    color: #D66E6F;
}

#summary2 {
    background-color: #fffaf4;
}

#summary2 h1 {
    color: #f4be52;
}

#summary3 {
    background-color: #f2fdf9;
}

#summary3 h1{
    color: #309d80;
}

#summary4 {
    background-color: #f4f4fe;
}

#summary4 h1 {
    color: #3234af;
}

button {
    width: 400px;
    height: 75px;
    margin: 30px 0px 0px 50px;
    border: none;
    background-color: #303b59;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}