@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Lato", sans-serif;   
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.content {
    width: 1000px;
    height: 700px;
    background-color: white;
    display: inherit;
    flex-direction: row;
    border-radius: 50px;
}

.left-content {
    width: 500px;
    flex-direction: column;
    display: inherit;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(95, 63, 252);
    border-radius: 50px;
}

.left-content h1 {
    font-weight: 500;
    width: fit-content;
    margin: 0px;
    color: rgba(255, 255, 255, 0.644);
    margin: 50px 0px 50px 0px;
}

.score {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(81, 54, 218), rgb(95, 63, 252));
    border-radius: 50%;
    margin: 0px 0px 20px 0px;
}

.score h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin: 10px 0px 0px 0px;
    
}

.score h2 {
    color: rgba(255, 255, 255, 0.514);
    font-weight: 400;
    margin: 0px;
    font-size: 20px;
    text-shadow: none;
}

.left-content h3 {
    color: white;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
}

.left-content p {
    width: 400px;
    font-size: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 0.76);
    letter-spacing: 1px;
}
